body {
	margin-top: 50px;
	background-image: url('../images/bg02.jpg');
	background-color: #222;
}

footer * {
	color: #fff;
}

textarea {
	resize: none;
}

#loginTitle {
	color: #fff;
}

#loginForm .input-group {
	border: 1px solid #ddd;
	background-color: #fff;
}

#loginForm .input-group * {
	background-color: transparent;
	border: none;
}

#loginForm .input-group input {
	box-shadow: none;
	outline: none;
}

#loginForm .input-group i {
	color: #ccc;
}

#page-wrapper .container-right {
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media(min-width:768px) {
	
    #page-wrapper .container-right {
    	padding-left: 20px;
    	padding-right: 20px;
	}
	
	nav .dropdown:hover .dropdown-menu {
		display: block;
	}
	
	.navbar-slider {
    	padding: 0;
    	max-height: none;
    	border-bottom-left-radius: 10px;
    	border-bottom-right-radius: 10px;
  	}
  	
  	.navbar-slider ul {
    	float: none;
  	}
  	
  	.navbar-slider ul:not {
    	display: block;
  	}
  	.navbar-slider li {
    	float: none;
    	display: block;
  	}
  	.navbar-slider li a {
    	padding-top: 12px;
    	padding-bottom: 12px;
  	}
}