body {
	margin-top: 50px;
	background-image: url('../images/bg05.png');
	background-color: #444;
	/*default color #2e8bcc*/
	/*inverse color #222*/
	font-family: Meiryo, "微軟正黑體", "Microsoft JhengHei";
}

footer * {
	color: #fff;
}

textarea {
	resize: none;
}

td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#loginTitle {
	color: #fff;
}

#loginForm .input-group {
	border: 1px solid #ddd;
	background-color: #fff;
}

#loginForm .input-group * {
	background-color: transparent;
	border: none;
}

#loginForm .input-group input {
	box-shadow: none;
	outline: none;
}

#loginForm .input-group i {
	color: #ccc;
}

#page-wrapper .container-right {
    background-color: transparent;
}

.container-table {
	background-image: url('../images/bg04.png');
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
	/*border: 5px solid;*/
}

.modal {
	background-image: url('../images/bg05.png');
	background-color: #444;
}

.modal-content {
	background-image: url('../images/bg04.png');
	background-color: #fff;
}

.breadcrumb {
	/*border: 5px solid;*/
}

.panel {
	/*border: 5px solid;*/
}

.panel-heading{
    position: relative;
}

.panel-title .btn {
	position: absolute;
    right: 8px;
    top: 4px;
}

@media(min-width:768px) {
	body {
		margin-top: 75px;
	}
	
    #page-wrapper .container-right {
    	padding-left: 20px;
    	padding-right: 20px;
	}
	
	#navbar-collapse {
		padding: 5px;
	}
	
	nav .dropdown:hover .dropdown-menu {
		display: block;
	}
	
	.navbar-slider {
    	padding: none;
    	max-height: none;
  	}
  	
  	.navbar-slider ul {
  		/*background-image: url('../images/bg05.png');
		background-color: #777;*/
    	float: none;
  	}
  	
  	.navbar-slider ul:not {
    	display: block;
  	}
  	.navbar-slider li {
    	float: none;
    	display: block;
  	}
  	.navbar-slider li a {
    	padding-top: 12px;
    	padding-bottom: 12px;
  	}
}