body {
	margin-top: 100px;
	background-image: url('../images/bg02.jpg');
	background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

footer *, #loginTitle {
	color: #fff;
}

#loginForm .input-group {
	border: 1px solid #ddd;
	background-color: #fff;
}

#loginForm .input-group * {
	background-color: transparent;
	border: none;
}

#loginForm .input-group input {
	box-shadow: none;
	outline: none;
}

#loginForm .input-group i {
	color: #ccc;
}

#page-wrapper .container {
    background-color: #fff;
    padding: 50px;
}