body {
	background-image: url('../images/bg06.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	font-family: Meiryo, "微軟正黑體", "Microsoft JhengHei" !important;
}

table {
	background-color: #fff;
}

#sidr {
	background-color: transparent;
}

#info-form {
	background-color: #fff;
	border-radius: 5px;
}

.table-responsive {
   border: none;
   overflow: auto;
   width: 100%;
}

.navbar-center {
	float: left;
	padding-left: 15px;
}

.modal-content {
	background-color: #f8f8f8;
}

@media(min-width:1220px) {
	.navbar-center {
		float: none;
		text-align: center;
	}
}