body {
	background-image: url('../images/bg06.jpg');
}

table {
	background-color: #fff;
}

#sidr {
	background-color: transparent;
}

.navbar-center {
	float: left;
	text-align: center;
	padding-left: 15px;
}

@media(min-width:1100px) {
	.navbar-center {
		float: none;
	}
}

